@import "./constants/variables.css";
@import "./audioplayer/audioplayer.css";

body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
